on:
  pull_request:
  push:
    branches: [ master, main ]

  schedule:
  - cron: '01 00 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Debug with tmate set "debug_enabled"'
        required: false
        default: "false"

defaults:
  run:
    shell: bash

jobs:
  tests:
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
#        ddev_version: [latest, edge, HEAD, PR]
        ddev_version: [PR]
      fail-fast: false

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Environment setup
      run: |
        brew install bats-core
        mkcert -install

    - name: Use ddev latest stable
      if: matrix.ddev_version == 'latest'
      run: brew install drud/ddev/ddev

    - name: Use ddev edge
      if: matrix.ddev_version == 'edge'
      run: brew install drud/ddev-edge/ddev

    - name: Use ddev HEAD
      if: matrix.ddev_version == 'HEAD'
      run: brew install --HEAD drud/ddev/ddev

    - name: Use ddev PR
      if: matrix.ddev_version == 'PR'
      run: |
        curl -sSL -o ddev_linux.zip https://nightly.link/drud/ddev/actions/artifacts/143143317.zip
        unzip ddev_linux.zip
        mv ddev /usr/local/bin/ddev && chmod +x /usr/local/bin/ddev

    - name: tmate debugging session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

    - name: tests
      run: |
        bats tests

